* {box-sizing: border-box}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
  width: 100%;
  background-image: linear-gradient(to right, red , green);
  border-radius: 12px;
}

.rating {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  width: var(--rating);
}